__pycache__
*.log
*.AppImage
/tools/linuxdeploy-plugin-conda.sh
/tools/app-image-creator/buildset
/tools/app-image-creator/AppDir
/tools/app-image-creator/_temp_home
/tools/app-image-creator/linuxdeploy-plugin-conda.sh
/artwork/blue-log-viewer.png
